<div class="mt-4">
    <h3>My Courses</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Course Name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Video Id</th>
                <th scope="col" colspan="3">Created At</th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.image}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a class="btn btn-primary" href="/courses/{{this._id}}/edit" role="button">Update</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="/courses/delete" role="button">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        </table>
</div>